<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  autoReload="true"
	  internalLogFile="c:\temp\console-example-internal.log"
	  internalLogLevel="Info">

	<!--[變數] 文字樣板 -->
	<variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
	<variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>

	<!--[變數] 檔案位置 -->
	<variable name="LogTxtDir" value="${basedir}/Logs/"/>
	<variable name="LogTxtLocation" value="${LogTxtDir}/${shortdate}.log"/>
	<variable name="LogTxtLocationFatal" value="${LogTxtDir}/${shortdate}FatalFile.log"/>

	<!--[變數] LogLevel --> 
	<variable name="DetectLogLevel" value="Info"/> 

	<!--[設定] 寫入目標-->
	<targets>
		<target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				archiveAboveSize="1048576" archiveFileName="${LogTxtDir}/${logger}.log{#######}" />
		<target xsi:type="Console" name="lifetimeConsole" 
				layout="${level:truncate=4:lowercase=true}: ${DetectLogLevel}  ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
	</targets>

	<!--[設定] 紀錄規則-->
	<rules>
		<logger name="*" ruleName="File"
				minlevel ="${DetectLogLevel}" writeTo="lifetimeConsole" />
	</rules>

</nlog>