<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true"
	  internalLogLevel="Warn"
	  internalLogFile="c:\temp\Sample-internal-nlog.txt"
	  >

	<!--[變數] 文字樣板 -->
	<variable name="allfileLayout" value="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger} [${threadname:whenEmpty=${threadid}}]|${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
	<variable name="lifetimeConsoleLayout" value="${level:truncate=4:lowercase=true}: ${logger} [${threadname:whenEmpty=${threadid}}]${newline}      ${message}${exception:format=tostring}"/>

	<!--[變數] 檔案位置 -->
	<variable name="LogRootPath" value="C:\temp"/>
	<variable name="AllLogMessagesFilename" value="AllLog"/>
	<variable name="AllWebDetailsLogMessagesFilename" value="AllWeb"/>

	<!-- the targets to write to -->
	<targets>
		<target name="file" xsi:type="AsyncWrapper" queueLimit="500000" overflowAction="Discard">
			<target xsi:type="File" name="allfile"
					fileName="${var:LogRootPath}\${var:AllLogMessagesFilename}.log"
					layout="${allfileLayout}"
					maxArchiveFiles="7"
					archiveDateFormat="yyyy-MM-dd"
					archiveNumbering="Date"
					archiveFileName="${var:LogRootPath}/${var:AllLogMessagesFilename}-{##}.log"
					encoding="utf-8"
					archiveAboveSize="2097152"
					archiveEvery="Day"
					concurrentWrites="true"
					keepFileOpen="true"
				/>
		</target>
		<!-- File Target for all log messages with basic details -->


		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole"
				layout="${lifetimeConsoleLayout}" />
	</targets>

	<!--The Microsoft Logging filters specified in appsettings.json 
	are ignored by default when using NLog 5.0. Just make sure 
	that NLog configuration rules are configured correctly.-->

	<rules>

		<!--Logging other remain  log (BlackHole)-->
		<logger name="*" minlevel="Trace"
				writeTo="allfile" />
	</rules>
</nlog>